[Unit]
Description=servername Minecraft Bedrock Server
After=network-online.target

[Service]
User=userxname
WorkingDirectory=dirname/minecraft/servername
Type=forking
ExecStart=/bin/bash dirname/minecraft/servername/start.sh
ExecStop=/bin/bash dirname/minecraft/servername/stop.sh
GuessMainPID=no
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
